header {
  height: 538px;
  background: url("../../images/mobile/image-header.jpg") no-repeat center;
  background-size: cover;

  @media only screen and (min-width: 750px) {
    height: 800px;
    background: url("../../images/desktop/image-header.jpg") no-repeat center
      center;
    background-size: cover;
  }

  h2 {
    margin-top: 105px;
    position: relative;

    &:before {
      content: url("../../images/icon-arrow-down.svg");
      position: absolute;
      right: 45%;
      top: 135px;

      @media only screen and (min-width: 750px) {
        right: 49%;
        top: 200px;
      }
    }
  }
}
