.Footer {
  height: 350px;
  background: #90d4c6;
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin-bottom: 40px;
  }

  ul {
    display: flex;
    justify-content: space-between;

    &.links {
      margin-bottom: 88px;
      width: 297px;

      li a {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.128571px;
        color: #458d7e;
      }
    }

    &.socials {
      width: 164px;
    }
  }
}
